body {
  font: 10px sans-serif;
}

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: white;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

#start {
	margin: 10px;
}

svg {
	display: block;
}